.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/icons/logoextra.svg');
    background-color: #5965E0;
}

.modal__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: auto;
    height: 80%;
    padding: 40px;
    background-color: #434FCB;
}

.message {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.modal__login h1 {
    margin-top: 4rem;
    font-size: 34px;
    font-weight: bold;
    cursor: default;
}

.message .icon {
    width: 28px;
    height: 28px;
    color: #FFFFFF;
}

.message p {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    cursor:default;
}

.form {
    margin-top: 4rem;
}

.form input {
    height: 50px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    background-image: linear-gradient(to bottom, #1E277C, #252A5C);
}

.form input::placeholder {
    color: #5965E0;
    text-align: center;
}

.button_login {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: #434FCB;
    background-color: #5965E0;
}

.button_login:hover {
    color: #FFFFFF;
    background-color: #4CD62B;
    transition: all 0.5s linear;
}

.button_singup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1.2rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #5965E0;
    padding: 10px;
    color: #FFFFFF;
}

.button_singup:hover {
    background-color: #4CD62B;
    color: #1E277C;
    transition: all 0.5s linear;
}

.form a {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form a:hover {
    color: #4CD62B;
    text-decoration: underline;
}

.form_singup label input {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #434FCB;
    color: #FFFFFF;
}

.form_singup label input::placeholder {
    color: #FFFFFF;
}

.form_singup input {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem
}

.form_singup label {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.form_singup button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #1E277C;
    background-color: #FFFFFF;
    height: 24px;
}

.form_singup button:hover {
    background: #4CD62B;
    transition: all 0.5s linear;
}