.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/icons/logoextra.svg');
    background-color: #5965E0;
}

.modal__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: auto;
    height: 80%;
    padding: 40px;
    background-color: #434FCB;
}

.message {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.modal__login h1 {
    margin-top: 4rem;
    font-size: 34px;
    font-weight: bold;
}

.message .icon {
    width: 28px;
    height: 28px;
    color: #FFFFFF;
}

.message p {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.form {
    margin-top: 4rem;
}

.form input {
    height: 50px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    background-image: linear-gradient(to bottom, #1E277C, #252A5C);
}

.form input::placeholder {
    color: #5965E0;
    text-align: center;
}

.form button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: #434FCB;
    background-color: #5965E0;
}

.form button:hover {
    color: #FFFFFF;
    background-color: #4CD62B;
}